# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8311046872:AAFJz-zTPe4X49YWyibejV4-ydDYl_jPdMw
WEBHOOK_URL=https://farastele-cfog7guq4-frxadz-6046s-projects.vercel.app

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyDO9QTPwSLc7YEyEu-vkAewptzRVcWdF78
FIREBASE_PROJECT_ID=db-ind-b9d1c
FIREBASE_STORAGE_BUCKET=db-ind-b9d1c.appspot.com
FIREBASE_MESSAGING_SENDER_ID=142941537714
FIREBASE_APP_ID=1:142941537714:web:fbb4f4d18715688e8550ab

# Development Configuration
NODE_ENV=production
NEXT_PUBLIC_APP_URL=https://farastele-cfog7guq4-frxadz-6046s-projects.vercel.app

# YouTube API Configuration
YOUTUBE_API_KEY=AIzaSyDyrS8Hj0P4IDXw5llepPcEcWEAWEMhYuk